@font-face {
    font-family: "Adamina-Regular";
    src: url('./fonts/Adamina-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "InstrumentSans-Medium";
    src: url('./fonts/InstrumentSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "InstrumentSans-Regular";
    src: url('./fonts/InstrumentSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "InstrumentSans-Bold";
    src: url('./fonts/InstrumentSans-Bold.ttf') format('truetype');
}
body {
    overflow-x: hidden;
}
header nav.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 8px;
    border-radius: 54px;
    background-color: #FFFFFF;
    z-index: 99;
}
header .navbar-brand {
    max-width: 86px;
}
header .navbar-nav {
    flex-direction: row;
    min-width: 230px;
    justify-content: space-between;
}
header .navbar-nav li.nav-item .nav-link {
    font-family: "InstrumentSans-Bold", sans-serif;
    font-size: 12px;
}
.hero-container {
    position: relative;
}
.hero-container .container {
    position: absolute;
}