body {
    overflow-x: hidden;
}
header .nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.hero-container {
    position: relative;
}
.hero-container .container {
    position: absolute;
}